@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ALL STYLING IS CONTAINED WITHIN THIS DOCUMENT */


/* GLOBAL STYLING */

html {
    scroll-behavior: smooth;
}

a { 
    color: inherit;
    text-decoration: none; 
} 

#global-container {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    font-family: poppins;
    padding: 0rem;
    margin: 0rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #12121E;
    overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden;

}

@media (max-width: 768px) {

    #global-container { 
        width: 100vw;
        /* border: solid red 1px; */
    }

    body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #12121E;
    }
}

/* END OF GLOBAL STYLING */

/* HEADER STYLING */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(18,18,30, 0.995);
    width: 100vw;
    z-index: 100;
}

.header-container {
    width: 70vw;
    max-width: 71rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6.875rem;
    font-family: poppins;
    color: white;

 
    background: rgba(18,18,30, 0.995);

    /* border: solid red 1px; */

}

.header-right-flex {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    
    /* border: solid rgb(0, 255, 68) 1px; */
}

.header-right-flex a {
    margin-left: 4rem;

}

.header-left-flex {
    /* border: solid rgb(0, 38, 255) 1px; */
    display: flex;
    align-items: center;
    justify-content: center;

}


#header-left-name {
    font-size: 1.75rem;
    font-weight: 600;
    margin-left: 7px;
    

    /* border: solid red 1px; */
}

#header-left-icon {
    margin-top: 3px;
}


.header-mobile-view {
    display: none;
}

@media (max-width: 1160px) { 
    .header-desktop-view {
        display: none;
        margin-left: 0px;
    }

    .header-mobile-view {
        display: block;
    }
}

@media (max-width: 768px) {
    header {
        width: 100vw;
    }

    .header-container {
        width: 90vw;
        height: 4.125rem;
    }

    .header-desktop-view {
        display: none;
        margin-left: 0px;
    }

    .header-mobile-view {
        display: block;
    }
    
    #header-left-name {
        font-size: 1rem;
    }
    
    #header-left-icon img {
        width: 1rem;
        height: 1rem;
        color: #49BC9F;
        /* border: solid red 1px; */
    }

}

/* END OF HEADER STYLING */

/* HERO STYLING */

.hero-section {
    width: 70vw;
    max-width: 71rem;
    margin-top: 12rem;
    margin-bottom: 9rem;
    color: white;
    /* border: solid rgb(55, 255, 0) 1px; */
    
}

.hero-section h1 {
    width: 70vw;
    max-width: 60rem;
    font-size: 4.5rem;
    line-height: 110%;
    /* transition: ease all .15s; */

}

.hero-section p {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1.5rem;

}

.hero-section button {
    width: 24rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: none;
    color: #FFF;
    background-color: #F47A53;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 4rem;
}


#hero-button button:hover {
    cursor: pointer;
}

@media (max-width: 1160px) { 
    .hero-section h1 {
        width: 90vw;
        max-width: 70vw;
        color: #FFF;
        font-family: Poppins;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;

        letter-spacing: 2px;
    }

    .hero-section p {
        font-size: 1.3rem;
    }

    .hero-section button {
        font-size: 0.85rem;
        width: 18rem;
        height: 3rem;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) { 

    .hero-section {
        width: 90vw;
        max-width: 20rem;
        margin-top: 8rem;
        margin-bottom: 4rem;
        /* border: solid red 1px; */
    }

    .hero-section h1 {
        width: 90vw;
        max-width: 35rem;
        color: #FFF;
        font-family: Poppins;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 115% */
        letter-spacing: 2px;
    }
    
    .hero-section p {
        font-size: 1rem;
    }

    .hero-section button {
        font-size: 0.75rem;
        width: 13rem;
        height: 2.375rem;
        margin-top: 2rem;
    }
    .hero-section-container {
        width: 100vw;
        margin-left: 10vw;
        /* border: solid gold 1px; */
        display: flex;
        justify-content: flex-start;
    }
    
}

@media (max-width: 393px) {
    .hero-section h1 {
        max-width: 20rem;
    }
}

/* END OF HERO STYLING */

/* FEATURE SECTION STYLING */

.feature-section {

    background-color: #0C0C14;
    /* border: solid red 1px; */
    max-height: 100%;
    min-height: 47.376rem;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feature-section-container {
    width: 70vw;
    max-width: 71rem;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#feature-section-customer {
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 9rem;
    align-items: center;
    justify-content: center;
    /* border: solid red 1px; */
    letter-spacing: 0.3rem;


}

#feature-section-customer p {
    width: 100%;
    /* transition: ease all .15s; */

}

#feature-section-customer img {
    margin-left: 2rem;
    margin-top: 2rem;
    
}

#feature-section-customer-mobile-view-image {
    display: none;
}

#feature-section-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#feature-section-info img {
    margin-top: 3.5rem;
    width: 3rem;
    height: 3rem;
    /* transition: ease all .15s; */

}

#feature-section-info p {
    text-align: center;
}

.feature-section-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 22rem; */
    /* display: flex; */
    width: 304px;
    flex-direction: column;
    align-items: center;
}

.feature-section-sub-heading {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 124%; /* 24.8px */
    letter-spacing: 2px;
    margin-top: 2.5rem;
    /* transition: ease all .15s; */

}

.feature-section-description {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 116%; /* 18.56px */
    letter-spacing: 1.6px;
    margin-top: 0.5rem;
    /* font-size: 1.375rem; */
    /* font-weight: 200; */
}

#high-conversions {
    margin-left: 1rem;
    margin-right: 1rem;
}

#customer-satisfaction {
    margin-top: 4.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 9.8rem;
    text-align: center;

}

@media (max-width: 1535px) { 
    #feature-section-customer p {
        font-size: 2.3rem;

    }
}
@media (max-width: 1258px) { 
    #feature-section-customer p {
        width: 556px;
    }
}

@media (max-width: 1160px) { 
    .feature-section-description {
        font-size: 1rem;
    }
    .feature-section-sub-heading {
        font-size: 1.125rem;
        margin-top: 1rem;



    }
    #feature-section-info img { 
        margin-top: 2.5rem;

        width: 2.5rem;
        height: 2.5rem;
    }
    #customer-satisfaction {
        font-size: 1.125rem;
    }
}

@media (max-width: 768px) { 

    #feature-section-customer {
        flex-direction: column;
    }
    #feature-section-customer p {
        
        font-size: 1.75rem;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 116%; /* 32.48px */
        letter-spacing: 2.8px;
        width: 320px;
        height: 74px;
        flex-shrink: 0;
        
    }
    #feature-section-customer-desktop-view-image {
        display: none;
    }
    #feature-section-customer-mobile-view-image {
        display: block;
        position: absolute;
        padding-left: 260px;
        padding-top: 50px;
        z-index: 1;
    }

}


/* END OF FEATURE SECTION STYLING */

/* THREE STEP PROCESS STYLING */

#three-step-section {
    /* height: 28rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    max-width: 71rem;
    flex-direction: row;
    padding-top:6.25rem;
    padding-bottom:6.25rem;
}

/* work-with-us */

.three-step-section-left-container-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 46.4px */
    letter-spacing: 4px;
    width: 560px;
    height: 51px;
    margin-bottom: 1rem;
}

.three-step-section-left-container-description {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 560px;
}

.three-step-section-right-container {
    display: flex;
    flex-direction: row;
}

.three-step-section-right-container-images {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    /* margin-top: 3rem; */
}

.three-step-section-right-container-images-desktop {
    margin-top: 3rem;
}

.three-step-section-right-container-images-mobile {
    display: none;
}

.three-step-section-right-container-text p {
    color: #FFF;
    font-family: Poppins;
    font-size: 76px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
    letter-spacing: 7.6px;
}

@media ( max-width: 1415px ) {
    #three-step-section {

        flex-direction: column;
        /* justify-content: center; */

    }

    .three-step-section-left-container {
        /* margin-top: 6.25rem; */
        margin-bottom: 3rem;
    }

    .three-step-section-right-container {
        /* margin-bottom: 6.25rem; */

    }

}

@media (max-width: 768px) { 
    .three-step-section-left-container {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: solid red 1px; */
    }

    .three-step-section-left-container-title {
        /* border: solid red 1px; */
        width: inherit;
        display: flex;
        justify-content: center;
        height: 36px;
        flex-shrink: 0;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 116%; /* 32.48px */
        letter-spacing: 2.8px;
    }

    .three-step-section-left-container-description {
        width: 320px;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .three-step-section-right-container-text p {
        color: #FFF;
        font-family: Poppins;
        font-size: 56px;
        font-style: normal;
        font-weight: 500;
        line-height: 116%;
        letter-spacing: 5.6px;

    }

    .three-step-section-right-container-images-desktop {
        display: none;
    }

    .three-step-section-right-container-images-mobile {
        display: block;
    }

    #three-step-section-right-container-images-mobile-top {
        padding-top: 7rem;
    }

    #three-step-section-right-container-images-mobile-bottom {
        padding-top: 1rem;
    }

    .three-step-section-right-container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* END OF THREE STEP PROCESS STYLING */

/* WHATS INCLUDED STYLING */

.whats-included {
    background-color: #0C0C14;
    width: 100%;
    height: 100%;
    min-height: 31.6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whats-included-container {
    width: 70vw;
    max-width: 74rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}

.whats-included-item-container {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.whats-included-item {
    width: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 4.5rem;
    margin-top: 0.5rem;
    /* border-radius: 0.5rem; */
    margin: 0.5rem;
    border-radius: 6px;
border: 0.8px solid rgba(255, 255, 255, 0.88);
    
}



.whats-included-item p {
    /* border: solid red 1px; */
    width: 18rem;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#whats-included {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}


@media ( max-width: 1350px ) {
    whats-included-item-middle-tablet {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media ( max-width: 768px ) {
    .whats-included-item {
        width: 20rem;
    }

    .whats-included-item p {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #whats-included {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 116%; /* 32.48px */
        letter-spacing: 2.8px;
        margin-bottom: 1rem;
    }
}
/* three-step-section */
/* END OF WHATS INCLUDED STYLING */

/* ABOUT US STYLING */

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35.625rem;
}

.about-us-parent-container {
    width: 70vw;
    max-width: 71rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


.about-us-right-container {
    width: 33.625rem;
}

.about-us-right-container h4 {
    width: 536px;
    height: 48px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%; /* 46.4px */
    letter-spacing: 4px;
}

.about-us-right-container p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 1.6px;
    width: 528px;
height: 77px;
flex-shrink: 0;
}


.about-us-right-container button {
    width: 21.5rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    border: none;
    color: #FFF;
    background-color: #F47A53;
    font-weight: 600;
    font-size: 1rem;
}

.about-us-right-container button:hover {
    cursor:pointer;
}

@media ( max-width: 1400px ) {
    .about-us-left-container  {
        display: none;
    }

    .about-us-right-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us-right-container h4 {
        width: inherit;
        text-align: center;
        margin-bottom: 1rem;
    }

    .about-us-right-container p {
        text-align: center;
        margin-bottom: 1.5rem;
        /* width: 320px; */
        /* height: 101px; */
        flex-shrink: 0;
    }

    .about-us-parent-container {
        width: inherit;
    }

}

@media ( max-width: 768px ) {

    .about-us-right-container button {
        /* display: flex; */
        width: 320px;
        padding: 12px 115px 12px 114.5px;
        /* flex-direction: column; */
        /* align-items: flex-start; */
        /* gap: 20px; */
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        /* line-height: normal; */
    }

    .about-us-right-container p {
        width: 320px;
        height: 101px;

    }

}

/* END OF ABOUT US STYLING */


/* WHAT OTHERS SAY STYLING */

.what-others-say {
    height: 100%;
    min-height: 39rem;
    width: 100%;
    background-color: #0C0C14;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.what-others-say-parent-container {
    width: 71rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.what-others-say-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}



.what-others-say-bottom-container-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 23rem;
    height: 14.75rem;
    background-color: #12121E;
}


.what-others-say-bottom-container-item p {
    width: 254px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 116%; /* 18.56px */
    letter-spacing: 1.6px;
}

.what-others-say-bottom-container-item h3 {
    width: 173px;
    height: 34px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 34px */
}

.what-others-say-top-container h4 {
    width: 448px;
    height: 60px;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 46.4px */
    letter-spacing: 4px;
    margin-bottom: 2.5rem;
}


@media ( max-width: 1200px )  {
    .what-others-say-top-container {

        margin-top: 4rem;
    }
    .what-others-say-bottom-container {
        flex-direction: column;
        width: 20rem;
        margin-bottom: 4rem;

    }
    .what-others-say-bottom-container-item {
        margin-bottom: 1rem;
        
    }
}

@media ( max-width: 768px ) {

    .what-others-say-top-container h4 {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 116%; /* 27.84px */
        letter-spacing: 2.4px;
        margin-bottom: 0.5rem;
    }

    .what-others-say-bottom-container-item {
        width: 20rem;
    }

    .what-others-say-bottom-container-item p {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 116%; /* 13.92px */
        letter-spacing: 1.2px;
    }

    .what-others-say-bottom-container-item h3 {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 170%; /* 27.2px */
    }
}

/* END OF WHAT OTHERS SAY STYLING */

/* FAQ STYLING */

.faq-container-parent {
    height: 835px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-container {
    width: 70vw;
    max-width: 752px;
    /* max-width: 600px; */
    /* height: 835px; */
    /* margin: 2rem auto; */
    
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faq-line-break {
    margin-top: 1rem;
    max-width: 752px;
    width: 70vw;
    height: 2px;
    background-color: #FFF;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 44.08px */
    letter-spacing: 3.8px;
    
}

.faq {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    /* border: solid red 1px; */
    max-width: 752px;
    width: 70vw;
}

.faq:last-child {
    border-bottom: none;
}

.faq-question {
    margin-top: 1rem;
    /* padding: 0.5rem 0.5rem; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.faq-answer {
    display: none;
    padding-left: 0.5rem;
}

.faq-answer p {
    /* border: solid red 1px; */
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}
/* This will rotate the '+' into an 'x' */
.faq .active .faq-toggle {
    transform: rotate(45deg);
}




/* This class will be added to the toggle when the answer is shown */
.faq-toggle.open {
    transform: rotate(45deg); /* Rotates the '+' to 'x' */
}
/* faq-container */
/* To turn '+' into '-', no rotation is needed, so we override the previous transform */
.faq-toggle.open {
    transform: none; /* Reset rotation */
    content: '-'; /* Change content to '-' */
}

/* ... (rest of your styles) ... */

.faq-toggle {
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.2s; /* Smooth transform transition */
    user-select: none; /* Prevent text selection */
    cursor: pointer; /* Change cursor to pointer */
}

.arrow-icon {
    width: 1em; /* Set the size of the arrow icon */
    height: 1em; /* Set the size of the arrow icon */
    transition: transform 0.2s; /* Smooth transform transition */
    user-select: none; /* Prevent text selection */
    cursor: pointer; /* Change cursor to pointer */
    margin-left: 0.25rem;
}

@media ( max-width: 768px ) {
    .faq-question {
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
    }
}

@media (max-width: 393px) {
    .faq-question {
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }

    .faq-answer p {

        color: #FFF;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px; /* 133.333% */
        max-width: 10rem;
    }
}

/* END OF FAQ STYLING */

/* FOOTER STYLING */


footer {
    height: 37rem;
    background-color: #0C0C14;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("./resources/footer-image.svg");
}

.footer-container {
    width: 70vw;
    max-width: 71rem;
    /* border: solid red 1px; */
    display: flex;
    justify-content: space-between;
    height: 305px;
}

.footer-container-right-flex {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-container-right-flex-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-container-right-flex-top h3 {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 46.4px */
    letter-spacing: 4px;
}

.footer-container-right-flex-top p {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%; /* 26.4px */
    letter-spacing: 2px;
    max-width: 500px;
}

.footer-container-right-flex-bottom {
    display: flex;
}

.footer-container-right-flex-bottom p {
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    margin-left: 7px
}

.footer-container-right-flex-bottom img {
    margin-bottom: 2px;

}

.footer-container-left-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#footer-container-left-flex-top-quick-link {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 20.88px */
    letter-spacing: 1.8px;
    margin-bottom: 0.75rem;
}

.footer-container-left-flex-top-quick-links {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 116%; /* 20.88px */
    letter-spacing: 1.8px;
    margin-bottom: 0.375rem;
}

.footer-container-left-flex-top {
    display: flex;
    flex-direction: column;
}

#footer-container-left-flex-bottom-catch-us-online {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 23.2px */
    letter-spacing: 2px;
    margin-bottom: 0.2rem;
}

#footer-container-left-flex-bottom-username {
    color: #49BC9F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 116%; /* 23.2px */
    letter-spacing: 2px;
}
#footer-container-right-flex-bottom-mobile-view {
    display: none;
}
@media ( max-width: 1164px ) {
    footer {
        background-image: url("./static/images/footer-mobile-image.svg");
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
    .footer-container-right-flex {
        display: none;
    }
    .footer-container-left-flex {
        flex-direction: row;
        justify-content: center;
        width: 70vw;
    }
    .footer-container-left-flex-bottom {
        text-align: end;
    }
    .footer-container-left-flex-top {
        margin-right: 10vw;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    #footer-container-right-flex-bottom-mobile-view {
        display: block;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

}

@media ( max-width: 393px ) {
    footer {
        height: 27.5rem;
    }
    .footer-container-left-flex {
        flex-direction: row;
        justify-content: space-between;

    }
    .footer-container-left-flex-top-quick-links {
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 116%; /* 16.24px */
        letter-spacing: 1.4px;
    }

    .footer-container-left-flex-top-quick-link {
        color: #FFF;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 116%; /* 19.72px */
        letter-spacing: 1.7px;
    }

#footer-container-left-flex-bottom-catch-us-online {

    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 18.56px */
    letter-spacing: 1.6px;
}
#footer-container-left-flex-bottom-username {
    color: #49BC9F;
text-align: right;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 116%; /* 18.56px */
letter-spacing: 1.6px;
}
}

/* END OF FOOTER STYLING */